@import 'tailwindcss';

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 min-h-screen;
  }

  h1 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h2 {
    @apply text-xl font-semibold md:text-2xl;
  }
}
